#markerImage {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

#vote_text {
    position: absolute;
    right: 32px;
    width: 25px;
    text-align: center;
    font: bold 18px 'Lucida Console', Monaco, monospace;
}

#beitrag_image,#edit_image {
    text-align: center ;
}

#edit_image img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

#beitrag_image img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

#voteButtons {
  width: auto;
  height: 50px;
}

#btns_vote_up {
  float: right;
}

#btns_vote_down {
     float: left;
}

#voteText {
  position: absolute;
  left:0;
  right: 0;
  text-align: center;
}

#popup_link {
    display: block;
    text-align: center;
    outline: none;
    margin: 0px auto;
}
