  <div class="row">
                <div id="beitrag_image">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/61vWHzU8L5L._SY355_.jpg">
                </div>

                    <button id="btns_vote_up" class="btn btn-success btn-lg text-center">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>

                    <div id="vote_text" class="valign">0</div>

                    <button id="btns_vote_down" class="btn btn-danger btn-lg text-center">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>

                    <span><strong>Standort:</strong> <div id="objectPosition"></div></span>
                    <br />
                    <span><strong>Erstellungsdatum:</strong> <div id="objectCreated"></div></span>
                    <br />
                    <span><strong>Aktualisierungsdatum:</strong> <div id="objectUpdated"></div></span>
                    <br />
                    <span><strong>Kategorien:</strong> <div id="objectCategories"></div></span>
                    <br />
                    <span><strong>Thema:</strong> <div id="objectTheme"></div></span>
                    <br />
                    <span><strong>Beschreibung:</strong> <div id="objectDescription"></div></span>
                      <br />
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">Fenster schließen </button>
                <button type="button" id="editbutton" class="btn btn-primary">Tag bearbeiten <span class="glyphicon glyphicon-edit"></span></button>
            </div>
