  <form id="beitragForm" name="form.beitragForm" ng-submit="addNewObject()">
<div class="form-group">
    <label for="currentposition">Deine gewählte Position: </label>
    <div ng-bind="myposition"></div>
</div>
<div class="form-group">
    <label for="fileuploadlabel">Lade ein Bild von dem hoch, was du siehst:</label>
    <input type="file" class="form-control-file" file="FormData.file" id="fileupload_edit">
</div>
<div class="form-group">
    <label for="categorylabel">Kategorisiere deinen Fund:</label>
    <br />
    <tags-input placeholder=" " ng-model="FormData.newCategories" add-on-space="true"></tags-input>
</div>

<div class="form-group">
    <label for="categorylabel">Thema:</label>
    <br />
    <select ng-model="objectTheme" ng-options="theme._id as theme.name for theme in themes track by theme._id"></select>

</div>

<div class="form-group">
    <label for="textarealabel">Hast du weitere Informationen?</label>
    <textarea class="form-control" ng-model="FormData.newDescription" rows="3"></textarea>
</div>
<div class="row">
  <div class="col-md-12">
<button type="button" class="btn btn-default pull-left" ng-click="closeThisDialog()">Fenster schließen </button>
<button type="submit" id="beitrag_submit" class="btn btn-primary pull-right">Absenden</button>
</form>
</div>
</div>
