
<div class="container signup">

        <h1>Registrieren</h1>
        <form novalidate name="registerForm" id="registerForm" ng-controller="RegisterController as ctrl" ng-submit="ctrl.submitForm()">

            {{ctrl.message}}

            <div class="form-group">
                <label for="emailaddresslabel">E-Mail Adresse</label>

                <div class="input-group">
                    <input type="email" ng-pattern="emailFormat" class="form-control" id="email" name="email" ng-model="ctrl.user.email" placeholder="E-Mail Adresse eingeben" required>
                    <span ng-class="ctrl.getInputGroupValidationClassMail()">
                        <span ng-class="ctrl.getGlyphiconValidationClassMail()"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="usernamelabel">Benutzername</label>

                <div class="input-group">
                    <input type="text" class="form-control" id="usernameone" name="username" ng-model="ctrl.user.username" ng-keyup="ctrl.checkUsername(ctrl.user.username)" placeholder="Username eingeben" required>
                    <span ng-class="ctrl.getInputGroupValidationClassUsername()">
                        <span ng-class="ctrl.getGlyphiconValidationClassUsername()"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="passwordlabel">Passwort</label>
                <input type="password" class="form-control" name="password" id="passwordone" ng-model="ctrl.user.password" placeholder="Passwort eingeben" autocomplete="off" required>
            </div>

            <div class="form-group">
                <label for="passwordconfirmlabel">Passwort bestätigen</label>

                <div class="input-group">
                    <input type="password" class="form-control" repeat-password="password" id="passwordconfirm" ng-model="ctrl.user.passwordconfirm" name="passwordconfirm" placeholder="Passwort bestätigen" autocomplete="off" required>
                    <span ng-class="ctrl.getInputGroupValidationClassPassword()">
                        <span ng-class="ctrl.getGlyphiconValidationClassPassword()"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <a href="#" type="button" id="backButton" class="btn btn-default">Zurück zum Login</a>
                <button type="submit" id="submit" ng-disabled="registerForm.$invalid" form="registerForm" class="btn btn-primary pull-right">Registrieren</button>
            </div>
        </form>
</div>
