<div id="wrapper" ng-controller="MapController">
    <leaflet class="map" tiles="tiles" markers="markers" event-broadcast="events"></leaflet>

    <div id="over_map" class="map-overlay">
        <a ng-click="addNewMarker();" target='_self' type="button" id="plusbutton" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div id="over_map_points" class="map-overlay">
        <button type="button" id="pointsbutton" class="btn btn-default">0 Punkte</button>
    </div>


    <div id="over_map_settings" class="map-overlay">
        <a href="#modal_settings" target='_self' data-toggle="modal" type="button" id="settingsbutton" class="btn btn-default">
            <span class="glyphicon glyphicon-th-list"></span>
        </a>
    </div>

    <div class="dropdown over_map_user map-overlay">

        <button type="button" id="userinfobutton" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu pull-right">
            <li><a  ng-controller="ProfileController" ng-click="open();" id="myprofile">Mein Profil</a></li>
            <li><a href="#!logout">Logout</a></li>
        </ul>
    </div>

    <div class="modal fade" id="modal_settings">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Optionen</h4>

                </div>

                <div class="modal-body">
                    <div class="row">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation">
                                <a href="#modal_rank" data-toggle="modal" data-dismiss="modal">Rangliste</a>
                            </li>
                            <li role="presentation">
                                <a href="#modal_rounds" data-toggle="modal" data-dismiss="modal">Spielrunden</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_rank">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Rangliste</h4>

                </div>

                <div class="modal-body">
                    <div class="row">

                        <br />
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Spieler</th>
                                    <th>Punkte</th>
                                    <th>Rang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Mark</th>
                                    <td>12</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th scope="row">Jacob</th>
                                    <td>9</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th scope="row">Larry</th>
                                    <td>5</td>
                                    <td>3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="modal-footer">
                    <a href="#modal_settings" data-toggle="modal" data-dismiss="modal" class="btn btn-primary pull-left">Zurück zu Optionen</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_rounds">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Spielrunden</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <h5>Aktuelle Runde:</h5>
                        <a href="#" data-dismiss="modal">
                            <button type="button" class="btn btn-primary btn-lg btn-block">Street-Art</button>
                        </a>

                        <hr />

                        <h5>Frühere Runden:</h5>

                        <button type="button" class="btn btn-success btn-lg btn-block">Aufzüge</button>

                        <hr />

                        <button type="button" class="btn btn-warning btn-lg btn-block">Rolltreppen</button>

                        <hr />
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#modal_settings" data-toggle="modal" data-dismiss="modal" class="btn btn-primary pull-left">Zurück zu Optionen</a>
                </div>
            </div>
        </div>
    </div>

</div>
