<div id="wrapper" ng-show="vm.showMap">
    <leaflet class="map" center="center" tiles="tiles" markers="vm.markers" event-broadcast="events"></leaflet>

    <div id="over_map" class="map-overlay">
        <button type="button" href="#modal_object" id="plusbutton" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
    </div>

    <div id="over_map_points" class="map-overlay">
        <button type="button" href="#modal_ranking" id="pointsbutton" data-toggle="modal" class="btn btn-default">{{ vm.points }} Punkte</button>
    </div>

    <div class="dropdown over_map_user map-overlay">
        <button type="button" id="userinfobutton" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon glyphicon-option-vertical"></span>
        </button>

        <ul class="dropdown-menu pull-right">
            <li>
                <button type="button" data-toggle="modal" href="#modal_profile">Mein Profil</button>
            </li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>

    <div id="current-quest">
        <button type="button" class="btn btn-default" data-toggle="modal" href="#modal_quests">Quests</button>
    </div>
</div>

<ranking></ranking>

<div class="modal fade" id="modal_object">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form id="beitragForm" ng-submit="vm.addNewObject()" ng-controller="SubmitController as vm">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Objekt hinzufügen</h4>
                </div>

                <div class="modal-body">
                        <div class="form-group">
                            <label>Deine aktuelle Position:</label>
                            <div>{{ vm.position }}</div>
                        </div>

                        <div class="form-group">
                            <label class="btn btn-default btn-file" for="fileupload_edit">
                                Bild hochladen <input type="file" class="form-control file" file="vm.form.file" style="display: none;" id="fileupload_edit">
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="category_input">Kategorisiere deinen Fund:</label>
                            <tags-input placeholder="" ng-model="vm.form.categories" add-on-space="true" id="category_input">
                                <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                            </tags-input>
                        </div>

                        <div class="form-group">
                            <label for="theme_input">Thema:</label>
                            <select ng-options="theme as theme.name for theme in vm.themes track by theme._id" id="theme_input" ng-model="vm.form.theme" class="form-control">

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="description_input">Hast du weitere Informationen?</label>
                            <textarea class="form-control" ng-model="vm.form.description" rows="3" id="description_input"></textarea>
                        </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
                    <button type="submit" id="beitrag_submit" class="btn btn-primary pull-right">Absenden</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_profile" ng-controller="ProfileController as vm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Profil</h4>
            </div>

            <div class="modal-body">
                <ng-include src="'/static/app/sections/profile/profile.template.html'"></ng-include>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_quests">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Quests</h4>
            </div>

            <div class="modal-body">
                <ng-include src="'/static/app/sections/quests/quests.template.html'"></ng-include>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div ng-show="!vm.showMap" class="loading-container">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
