/* General sizing */
ul.dropdown-lr {
    width: 300px;
}

html, body {
    height: 100%;
}

.ngdialog {
    padding: 20px !important;
}

.ngdialog.ngdialog-theme-plain .ngdialog-content {
    max-width: 650px;
    width: auto;
    padding: 0px !important;
    background: transparent;
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.map {
    height: 100vh; z-index: 0; width:100%;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

.after_modal_appended {
    position: relative;
}

.modal-body-beitrag {
    padding:25px;
}

   #wrapper { position: relative;

     height:100%; }
   #over_map { position: absolute;
  bottom: 5px;
    right: 10px; z-index: 99; bottom:30px; }

#markerImage {
    width:100px;
    height:100px;
    display: block;
    margin: 0 auto;
}

#vote_text {
  position: absolute;
right: 32px;
width: 25px;
text-align: center;
font: bold 18px 'Lucida Console', Monaco, monospace;
}

#beitrag_image,#edit_image {
  text-align: center ;
}

#edit_image img {
  width:150px;
  height:150px;
  margin: 0 auto;
  position: relative;
}

#beitrag_image img {
  width:200px;
  height:200px;
  margin: 0 auto;
  position: relative;
}

.valign {
    position: relative;
    top: 65%;
    /* vendor prefixes omitted due to brevity */
}

#btns_vote_up {
  position: absolute;
top: 40%;
right: 15px;
}
#btns_vote_down {
     position: absolute; right:15px; top: 70%; ;
}

#popup_link {
    display: block;
    text-align: center;
    outline: none;
    margin: 0px auto;
}

  #over_map_points { position: absolute;
    left: 10px; z-index: 99; bottom:27px; }

 .over_map_user { position: absolute;
    right: 10px; z-index: 99; top:10px; }

 #over_map_settings { position: absolute;
    right: 70px; z-index: 99; bottom:30px; }

/*#plusbutton,#userinfobutton,#pointsbutton,#settingsbutton{
    font: bold 18px 'Lucida Console', Monaco, monospace;
    text-indent: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);
    border-radius: 4px; line-height: 22px;}*/

#over_map_settings {
    position: absolute;
    right: 70px;
    z-index: 99;
    bottom:30px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint {
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.indextag {
    font-size:110%;
}


#intro {
    margin-top: 30px;
}
.intro-heading, .intro-buttons, .intro-text {
    text-align: center;
}

.signup {
    max-width: 400px;
    margin-top: 30px;
}

    .signup h1 {
        margin-bottom: 20px !important;
    }

.login {
    max-width: 400px;
    margin-top: 30px;
}


.map-overlay .btn {
    box-shadow: none !important;
}

.leaflet-bar {
    border: 1px solid #ccc !important;
}

.ngdialog-close {
    top: 11px !important;
    right: 15px !important;
}

.ranking-table {
    margin-bottom: 0px;
}

.loading-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading-container .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -20px;
}

.loading-container.ng-scope, body > .ng-scope {
    width: 100%;
    height: 100%;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.dropdown-menu > li > button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: 100%;
    text-align: left;
}


#current-quest {
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0px auto;
    width: 200px;
    right: 0;
}

    #current-quest .btn {
        width: 100%;
        text-align: center;
    }
