  <form id="beitragForm" ng-submit="vm.addObject()" ng-controller="SubmitController as vm">
    <div class="form-group">
    <label>Deine aktuelle Position:</label>
    <div ng-bind="vm.position"></div>
</div>

<div class="form-group">
    <label class="btn btn-default btn-file" for="fileupload_edit">
        Bild hochladen <input type="file" class="form-control file" file="vm.form.file" style="display: none;" id="fileupload_edit">
    </label>
</div>

<div class="form-group">
    <label for="category_input">Kategorisiere deinen Fund:</label>
    <tags-input placeholder=" " ng-model="vm.form.categories" add-on-space="true" id="category_input">
        <!--<auto-complete source="loadTags($query)"></auto-complete>-->
    </tags-input>
</div>

<div class="form-group">
    <label for="theme_input">Thema:</label>
    <select ng-options="theme._id as theme.name for theme in vm.themes" id="theme_input" ng-model="vm.form.themeID" class="form-control">

    </select>
</div>

<div class="form-group">
    <label for="description_input">Hast du weitere Informationen?</label>
    <textarea class="form-control" ng-model="vm.form.description" rows="3" id="description_input"></textarea>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default pull-left" ng-click="closeThisDialog()">Fenster schließen </button>
        <button type="submit" id="beitrag_submit_edit" class="btn btn-primary pull-right">Absenden</button>
    </div>
</div>
</form>
