<div class="container login">
    <h1>Login</h1>

    <form name="loginForm" novalidate role="form" autocomplete="off" ng-submit="vm.login()">

        <div class="form-group">
            <label for="logusername">Username</label>

            <div class="input-group">
                <input type="text" name="logusername" ng-model="vm.username" required id="logusername" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-ok"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="logpassword">Passwort</label>

            <div class="input-group">
                <input type="password" name="logpassword" id="logpassword" required ng-model="vm.password" tabindex="2" class="form-control" placeholder="Passwort" autocomplete="off" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-ok"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <a href="#!register" type="button" id="backButton" class="btn btn-default" id="register_button">Registrieren</a>
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" id="login-submit" class="btn btn-primary pull-right">Absenden</button>
        </div>
    </form>
</div>
